@font-face {
    font-family: 'Asylbek';
    src: url("../fonts/vAsylm02.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat 300';
    src: url("../fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat 400';
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat 500';
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat 600';
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat 700';
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat 800';
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat 900';
    src: url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

body{
	padding: 0;
	margin: 0;
	background-color:#F3F0CA;
    color: #192655;
    overflow-x: hidden;
}

.fade {
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 3.5s;
            animation-duration: 3.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.5s;
}

@-webkit-keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

html,h1,h2,h3,h4,h5,h6{
	font-family: "Montserrat 800";
}

a {
    font-family: "Montserrat 700";
    color: #E1AA74;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E1AA74;
  border-radius: 10px;
}

.navbar {
    background:#192655;
    height: 44px;
}

.nav-link , .navbar-brand {
    color: #E1AA74;
    cursor: pointer;
}

.nav-logo {
    margin-top: 2px;
    margin-left: 100px;
    height: 32px;
}

.nav-link {
    margin-left: 30px !important;
    font-size: 16px;
}

.nav-link:hover {
    background: #E1AA74;
    color: #3876BF;
}

.navbar-nav {
    margin-left: 80px;
}

.navbar-toggler {
     background:#F3F0CA !important;
}

.hamburger {
    display: none;
}

.header {
    height: 645px;
}

.img-wrapper {
    position: relative;
    height: 645px;
    width: 100%;
    left: 0 !important;
    top: 0 !important;
    background:url(../img/bg/headerback.jpg) no-repeat;
    background-size: 100% 645px !important;
}

.overlay {
    position: absolute;
    height: 645px;
    width: 100%;
    left: 0;
    top: 0;
    background-image: url('../img/bg/getcorse.jpg');
    background-size: 100% 645px !important;
    opacity: 0.87;
}

.txt-big {
    height: 208px;
    margin-top: 130px;
}

h1 {
    font-size: 52px;
    color: #192655;
    line-height: 1.7;
    position: absolute;
    text-align: center;
    top: 250px;
    left: 650px;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    width: 900px;
}

h1 em {
  white-space: nowrap;
}

.text-wrapper{
  overflow: hidden;
  display: block;
}

.text{
  animation: slideUp 1s forwards;
  display: inline-block;
  transform: translateY(100%);
}

h1 .text-wrapper:nth-of-type(1) .text{
  animation-delay: 0s;
}

h1 .text-wrapper:nth-of-type(2) .text{
  animation-delay: 0.5s;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.txt-offer {
    position: absolute;
    padding-top: 0;
    margin-top: 0;
    color: #192655;
    font-family: 'Montserrat 400';
    font-size: 18px;
    text-transform: uppercase;
}

#offer1 {
    top: 380px;
    transform: translateY(-50%);
    margin-left: -500px;
    -webkit-animation-name: offer1;
            animation-name: offer1;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

@keyframes offer1 {
    0% {
      margin-left: -500px;
    }
    100% {
        margin-left: 149px;
    }
}

@-webkit-keyframes offer1 {
    0% {
        margin-left: -500px;
      }
      100% {
          margin-left: 149px;
      }  
}

#offer2 {
    top: 405px;
    transform: translateY(-50%);
    margin-left: -500px;
    -webkit-animation-name: offer2;
            animation-name: offer2;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
}

@keyframes offer2 {
    0% {
      margin-left: -500px;
    }
    100% {
        margin-left: 149px;
    }
}

@-webkit-keyframes offer2 {
    0% {
        margin-left: -500px;
      }
      100% {
          margin-left: 149px;
      }  
}

#offer3 {
    top: 430px;
    transform: translateY(-50%);
    margin-left: -500px;
    -webkit-animation-name: offer3;
            animation-name: offer3;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: .9s;
            animation-delay: .9s;
}

@keyframes offer3 {
    0% {
      margin-left: -500px;
    }
    100% {
        margin-left: 149px;
    }
}

@-webkit-keyframes offer3 {
    0% {
        margin-left: -500px;
      }
      100% {
          margin-left: 149px;
      }  
}

#offer4 {
    top: 455px;
    transform: translateY(-50%);
    margin-left: -500px;
    -webkit-animation-name: offer4;
            animation-name: offer4;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
}

@keyframes offer4 {
    0% {
      margin-left: -500px;
    }
    100% {
        margin-left: 149px;
    }
}

@-webkit-keyframes offer4 {
    0% {
        margin-left: -500px;
      }
      100% {
          margin-left: 149px;
      }  
}

#offer5 {
    top: 480px;
    transform: translateY(-50%);
    margin-left: -500px;
    -webkit-animation-name: offer5;
            animation-name: offer5;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
}

@keyframes offer5 {
    0% {
      margin-left: -500px;
    }
    100% {
        margin-left: 149px;
    }
}

@-webkit-keyframes offer5 {
    0% {
        margin-left: -500px;
      }
      100% {
          margin-left: 149px;
      }  
}

.contact-link {
    margin-top: 70px;
    margin-left: 820px;
}

.f-btn {
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #192655 0%, #E1AA74 50%, #3876BF  100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat 600';
    color: #F3F0CA;
    font-size: 20px;
    transition: .5s;
}

.f-btn:hover {
    background-position: 0 0;
}

.btn-contact {
    -webkit-animation: btn-con 7s forwards;
            animation: btn-con 7s forwards;
}

@keyframes btn-con {
    from {
        opacity: 0;
    }
}

@-webkit-keyframes btn-con {
    from {
        opacity: 0;
    }
}

.ideas {
    position: absolute;
    color: #3876BF;
    font-family: 'Asylbek';
    font-size: 72px;
    top: 570px;
    transform: translateY(-50%);
    left: 500px;
    width: 755px;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: ideas 2s steps(50, end);
    animation: ideas 2s steps(50, end);
}

@keyframes ideas {
    from { width: 0; }
}

@-webkit-keyframes ideas {
    from { width: 0; }
}




.about {
    margin: 10px 0;
    padding: 10px;
}

.header-section {
    position: static;
    color:#192655;
    font-size: 48px;
    margin: 40px auto;
    -webkit-animation: header_s 3s forwards;
    animation: header_s 3s forwards;
}

@keyframes header_s {
    from {opacity: 0;}
}

@-webkit-keyframes header_s {
    from {opacity: 0;}
}

.about img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0;
    border-color: #192655;
    -webkit-animation: port 5s forwards;
    animation: port 5s forwards;
}

@keyframes port {
    0% {
        border-radius: 0%;
        border-style: solid;
        border-width: 0px;
    }
    75% {
        border-radius: 50%;
        border-width: 0px;
    }
    100% {
        border-width: 5px;
    }
}

@-webkit-keyframes port {
    0% {
        border-radius: 0%;
        border-style: solid;
        border-width: 0px;
    }
    75% {
        border-radius: 50%;
        border-width: 0px;
    }
    100% {
        border-width: 5px;
    }
}

.about span {
    font-family: 'Montserrat 500';
    font-size: 16px;
    display: block;
    color: #192655;
    position: absolute;
    left: 100px;
}

.about .desc {
    padding: 30px;
    border-left:4px solid #192655;
}

.desc-txt {
    -webkit-animation: about-desc 3s;
    animation: about-desc 3s;
}

@keyframes about-desc {
    from {
        margin-left: 110%;
        opacity: 0;
    }
}

@-webkit-keyframes about-desc {
    from {
        margin-left: 110%;
        opacity: 0;
    }
}

.about .desc h3 {
    color: #192655;
    font-size: 36px;
}

.about .desc p {
    line-height:2;
    color:#192655;
}




.serv {
    position: static;
    margin-top: 20px;
}

.info-section {
    margin: 20px auto;
    height: 100vh;
    border-radius: 10px;
    padding: 50px 0 50px 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

.info-header-srv {
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

.info-header-tab-srv {
    color: #192655;
    font-family: 'Montserrat 500';
    font-size: 22px;
    cursor: pointer;
}

.info-header-tab-srv:after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: #192655;
    margin-top: 4px;
    -webkit-transition: 0.4s;
            transition: 0.4s;
}

.info-header-tab-active-srv:after {
    content: '';
    display: block;
    width: 60%;
    height: 3px;
    background-color: #192655;
    margin-top: 4px;
}

.info-header-tab-srv:hover:after {
    width: 60%;
}

.info-tabcontent-srv {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
    -webkit-transition: 0.3s;
            transition: 0.3s;
}

.description-text-srv {
    margin: 0 auto;
    margin-top: 30px;
    color: #192655;
    font-family: 'Montserrat 300';
    font-size: 16px;
    line-height: 1.15;
    padding-right: 25px;
    width: 1050px;
}

.fade {
    opacity: 1;
}

.info-srv .hide {
    display: none;
}

.blink {
    font-family: 'Montserrat 700';
    font-size: 18px;
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}
  
@-webkit-keyframes blink {
    0% { color: rgba(0, 255, 0, 1); }
    50% { color: rgba(255, 255, 0, 1); }
    100% { color: rgba(0, 255, 0, 1); }
}
  
@keyframes blink {
    0% { color: rgba(0, 255, 0, 1); }
    50% { color: rgba(255, 255, 0, 1); }
    100% { color: rgba(0, 255, 0, 1); }
}

.blink1 {
    font-family: 'Montserrat 700';
    font-size: 18px;
    -webkit-animation: blink1 4s linear infinite;
    animation: blink1 4s linear infinite;
}

@-webkit-keyframes blink1 {
    0% { color: rgba(255, 0, 0, 1); }
    50% { color: rgba(255, 0, 255, 1); }
    100% { color: rgba(255, 0, 0, 1); }
}
  
@keyframes blink1 {
    0% { color: rgba(255, 0, 0, 1); }
    50% { color: rgba(255, 0, 255, 1); }
    100% { color: rgba(255, 0, 0, 1); }
}

.price {
    font-family: 'Montserrat 700';
    font-size: 18px;
}




.portfolio {
    margin: 30px 0;
    position: relative; 
}

.portfolio img {
     height: 200px;
     width: 300px;
     margin: 20px;
     border-radius: 10px;
     transition: all 1s;
}

.portfolio img:hover {
    transform: scale(1.2);
}



#slider {
    margin-left: 10px;
}

.slide {
    margin-left: 160px;
    margin-top: 30px;
    height: 540px;
    width: 800px;
}

.slide img {
    height: 100%;
    width: 100%;
}




.rem-section {
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
}

.rem-section p {
    font-family: 'Montserrat 400';
    font-size: 16px;
    color: #192655;
}

.txt-rem {
    font-family: 'Montserrat 600';
    font-size: 16px;
    color: #3876BF;
}





.benefit-section {
    height: 1370px;
    margin: 10px auto;
    padding: 20px 0 50px 20px;
}

.benefit-txt {
    display: inline-block;
    width: 350px;
    height: auto;
    font-family: 'Montserrat 300';
    font-size: 16px;
    color: #192655;
    padding: 10px;
}

.benefit-txt-left {
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #192655;
    text-align: center;
    margin-left: 150px;
    transition: all 1s;
}

.benefit-txt-left:hover {
    color: #3876BF;
    background-color: #E1AA74;
    transform: skewY(-10deg);
}

.benefit-txt-right {
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #192655;
    text-align: center;
    margin-left: 600px;
    transition: all 1s;
}

.benefit-txt-right:hover {
    color: #3876BF;
    background-color: #E1AA74;
    transform: skewY(10deg);
}

.p-txt {
    padding-top: 15px;
}


.skills-section {
    margin: 0 auto;
    width: 620px;
    padding: 0 10px;
    border-radius: 10px;
    border:#E1AA74 solid 2px;
}

.btn-skills {
    margin: 0 auto;
    height: 40px;
    width: 600px;
    cursor: pointer;
    background-color: #F3F0CA;
    font-family: 'Montserrat 800';
    font-size: 18px;
    color: #3876BF;
    border-top: #E1AA74 solid 2px;
}

.div-class{
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    background-color: #E1AA74;
    border: #192655 solid 1px;
    font-family: 'Montserrat 400';
    font-size: 16px;
    color: #192655;
    height: auto;
    width: 600px;
    display: none;
}





.email {
    width: 620px;
    height: 320px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
    border-radius: 15px;
}

.sender {
    display: inline-block;
    width: 336px;
    height: 256px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.letter {
    display: inline-block;
    width: 240px;
    height: 320px;
    background: url('../img/pict/letter.png') center / cover no-repeat;
    border-radius: 15px 0 0 15px;
}

.frm-sender {
    margin: 50px auto;
}

.label-frm {
    font-family: 'Montserrat 500';
    font-size: 18px;
    color: #192655;
}

.input-frm {
    font-family: 'Montserrat 500';
    font-size: 18px;
    color: #192655;
    background-color: #F3F0CA;
    width: 240px;
    transition: all 2s;
}

.input-frm:focus {
    background-color: #E1AA74;
}

.vk {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url('../img/icon/social/vkontakte-dark.png') center / cover no-repeat;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    transition: all 1s;
    -webkit-animation: vk 2s forwards;
    animation: vk 2s forwards;
}

.vk:hover {
    background: url('../img/icon/social/vkontakte-light.png') center / cover no-repeat;
    box-shadow: 0px 0px 10px rgba(56, 118, 191, 0.8);
}

@keyframes vk {
    0% {
        margin-left: 200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes vk {
    0% {
        margin-left: 200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

.telegram {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url('../img/icon/social/telegram-dark.png') center / cover no-repeat;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    transition: all 1s;
    -webkit-animation: telegram 2s 0.7s forwards;
    animation: telegram 2s 0.7s forwards;
}

.telegram:hover {
    background: url('../img/icon/social/telegram-light.png') center / cover no-repeat;
    box-shadow: 0px 0px 10px rgba(56, 118, 191, 0.8);
}

@keyframes telegram {
    0% {
        margin-left: 200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes telegram {
    0% {
        margin-left: 200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

.whatsapp {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url('../img/icon/social/whatsapp-dark.png') center / cover no-repeat;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    transition: all 1s;
    -webkit-animation: whatsapp 2s 1.4s forwards;
    animation: whatsapp 2s 1.4s forwards;
}

.whatsapp:hover {
    background: url('../img/icon/social/whatsapp-light.png') center / cover no-repeat;
    box-shadow: 0px 0px 10px rgba(56, 118, 191, 0.8);
}
@keyframes whatsapp {
    0% {
        margin-left: 200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes whatsapp {
    0% {
        margin-left: 200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

.social-icon {
    margin-top: 20px;
    margin-left: 200px;
    opacity: 0;
}




footer {
    display: flex;
    margin-bottom: 0;
    width: 100%;
    height: 44px;
    background-color: #192655;
}

.wrap-footer {
    display: flex;
    justify-content: space-evenly;
}

.copyright {
    text-align: center;
    margin-top: 0;
    font-family: 'Montserrat 700';
    font-size: 18px;
    color: #F3F0CA;
    padding-top: 10px;
}

.footer-police {
    display: inline;
    margin-top: 8px;
}

.police-link {
    font-family: 'Montserrat 500';
    font-size: 18px;
    color: #E1AA74;
}




.thin {
    margin-left: 70px;
    margin-top: 40px;
    font-family: 'Montserrat 400';
    font-size: 18px;
}

.bold {
    margin: -130px auto;
    font-family: 'Montserrat 700';
    font-size: 20px;
}

.small-bold {
    margin-top: 40px;
    margin-left: 70px;
    width: 800px;
    font-family: 'Montserrat 700';
    font-size: 18px;
}

.thin-par {
    margin-left: 70px;
    margin-top: 10px;
    width: 800px;
    font-family: 'Montserrat 400';
    font-size: 18px;
}

@media ( max-width: 1200px ) {
    
    .navbar {
        height: 42px;
    }
    
    .nav-logo {
        margin-top: 2px;
        margin-left: 60px;
        height: 30px;
    }
    
    .nav-link {
        margin-left: 24px !important;
        font-size: 15px;
    }
    
    .navbar-nav {
        margin-left: 75px;
    }

    /* .hamburger {
        display: none;
    } */
    
    .header {
        height: 640px;
    }
    
    .img-wrapper {
        height: 640px;
        background-size: 100% 640px !important;
    }
    
    .overlay {
        height: 640px;
        background-size: 100% 640px !important;
    }
    
    .txt-big {
        height: 208px;
        margin-top: 125px;
    }
    
    h1 {
        font-size: 48px;
        top: 245px;
        left: 600px;
        width: 880px;
    }
    
    .txt-offer {
        font-size: 17px;
    }
    
    #offer1 {
        top: 380px;
    }
    
    @keyframes offer1 {
        0% {
          margin-left: -500px;
        }
        100% {
            margin-left: 201px;
        }
    }
    
    @-webkit-keyframes offer1 {
        0% {
            margin-left: -500px;
          }
          100% {
              margin-left: 201px;
          }  
    }
    
    #offer2 {
        top: 405px;
    }
    
    @keyframes offer2 {
        0% {
          margin-left: -500px;
        }
        100% {
            margin-left: 201px;
        }
    }
    
    @-webkit-keyframes offer2 {
        0% {
            margin-left: -500px;
          }
          100% {
              margin-left: 201px;
          }  
    }
    
    #offer3 {
        top: 430px;
    }
    
    @keyframes offer3 {
        0% {
          margin-left: -500px;
        }
        100% {
            margin-left: 201px;
        }
    }
    
    @-webkit-keyframes offer3 {
        0% {
            margin-left: -500px;
          }
          100% {
              margin-left: 201px;
          }  
    }
    
    #offer4 {
        top: 455px;
    }
    
    @keyframes offer4 {
        0% {
          margin-left: -500px;
        }
        100% {
            margin-left: 201px;
        }
    }
    
    @-webkit-keyframes offer4 {
        0% {
            margin-left: -500px;
          }
          100% {
              margin-left: 201px;
          }  
    }
    
    #offer5 {
        top: 480px;
    }
    
    @keyframes offer5 {
        0% {
          margin-left: -500px;
        }
        100% {
            margin-left: 201px;
        }
    }
    
    @-webkit-keyframes offer5 {
        0% {
            margin-left: -500px;
          }
          100% {
              margin-left: 201px;
          }  
    }
    
    .contact-link {
        margin-top: 70px;
        margin-left: 810px;
    }
    
    .f-btn {
        margin: 10px 20px;
        font-size: 19px;
        transition: .5s;
    }
    
    .f-btn:hover {
        background-position: 0 0;
    }
    
    .btn-contact {
        -webkit-animation: btn-con 7s forwards;
                animation: btn-con 7s forwards;
    }
    
    @keyframes btn-con {
        from {
            opacity: 0;
        }
    }
    
    @-webkit-keyframes btn-con {
        from {
            opacity: 0;
        }
    }
    
    .ideas {
        font-size: 66px;
        top: 570px;
        transform: translateY(-50%);
        left: 480px;
        width: 755px;
    }
    
    @keyframes ideas {
        from { width: 0; }
    }
    
    @-webkit-keyframes ideas {
        from { width: 0; }
    }
    
    
    
    
    .about {
        margin: 9px 0;
        padding: 10px;
    }
    
    .header-section {
        font-size: 46px;
        margin: 38px auto;
    }
    
    .about img {
        height: 320px;
        width: 320px;
        border-width: 5px;
    }
    
    @keyframes port {
        0% {
            border-radius: 0%;
            border-style: solid;
            border-width: 0px;
        }
        75% {
            border-radius: 50%;
            border-width: 0px;
        }
        100% {
            border-width: 5px;
        }
    }
    
    @-webkit-keyframes port {
        0% {
            border-radius: 0%;
            border-style: solid;
            border-width: 0px;
        }
        75% {
            border-radius: 50%;
            border-width: 0px;
        }
        100% {
            border-width: 5px;
        }
    }
    
    .about span {
        font-size: 15px;
        left: 60px;
    }
    
    .about .desc {
        padding: 30px;
        border-left:4px solid #192655;
    }    
    
    @keyframes about-desc {
        from {
            margin-left: 110%;
            opacity: 0;
        }
    }
    
    @-webkit-keyframes about-desc {
        from {
            margin-left: 110%;
            opacity: 0;
        }
    }
    
    .about .desc h3 {
        font-size: 34px;
    }
    
    .about .desc p {
        line-height:2;
        font-size: 15px;
    }
    
    
    
    
    .serv {
        position: static;
        margin-top: 18px;
    }
    
    .info-section {
        margin: 18px auto;
        margin-top: 10px;
        padding: 50px 0 50px 20px;
        box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.8);
    }
    
    .info-header-srv {
        width: 100%;
        height: 48px;
    }
    
    .info-header-tab-srv {
        font-size: 20px;
    }
    
    .info-header-tab-srv:after {
        height: 3px;
        margin-top: 4px;
    }
    
    .info-header-tab-active-srv:after {
        height: 3px;
        margin-top: 4px;
    }
    
    .info-tabcontent-srv {
        padding-top: 48px;
    }
    
    .description-text-srv {
        margin-top: 20px;
        font-size: 15px;
        line-height: 1;
        padding-right: 25px;
        width: 1000px;
    }
    
    .blink {
        font-size: 16px;
    }
    
    .blink1 {
        font-size: 16px;
    }
    
    .price {
        font-size: 16px;
    }
    
    
    
    
    .portfolio {
        margin: 28px 0;
    }
    
    .portfolio img {
         height: 200px;
         width: 300px;
         margin: 18px;
    }
    
    .portfolio img:hover {
        transform: scale(1.2);
    }
    
    
    
    #slider {
        margin-left: 10px;
        margin-top: -40px;
    }
    
    .slide {
        margin-left: 150px;
        margin-top: 25px;
        height: 550px;
        width: 700px;
    }
    
    .slide img {
        height: 100%;
        width: 100%;
    }
    



    .rem-section p {
        font-size: 15px;
    }
    
    .txt-rem {
        font-size: 15px;
    }


    
    
    .benefit-section {
        height: 1370px;
        margin: 10px auto;
        padding: 20px 0 50px 20px;
    }
    
    .benefit-txt {
        width: 350px;
        font-size: 15px;
        padding: 9px;
    }
    
    .benefit-txt-left {
        border-width: 5px;
        margin-left: 150px;
    }
    
    .benefit-txt-right {
        border-width: 5px;
        margin-left: 600px;
    }
    
    .p-txt {
        padding-top: 14px;
    }
    
    


    .skills-section {
        width: 620px;
        padding: 0 10px;
    }
    
    .btn-skills {
        margin: 0 auto;
        height: 38px;
        width: 600px;
        font-size: 16px;
    }
    
    .div-class{
        padding: 9px;
        font-size: 15px;
        width: 600px;
    }
    
    
    
    
    
    .email {
        width: 620px;
        height: 320px;
        box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.8);
        margin-bottom: 50px;
    }
    
    .sender {
        width: 336px;
        height: 256px;
        margin-left: 40px;
        margin-bottom: 40px;
    }
    
    .letter {
        width: 240px;
        height: 320px;
    }
    
    .frm-sender {
        margin: 50px auto;
    }
    
    .label-frm {
        font-size: 16px;
    }
    
    .input-frm {
        font-size: 16px;
        width: 240px;
    }
    
    .vk {
        width: 80px;
        height: 80px;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.8);
    }
    
    .vk:hover {
        box-shadow: 0px 0px 9px rgba(56, 118, 191, 0.8);
    }
    
    @keyframes vk {
        0% {
            margin-left: 200px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    
    @-webkit-keyframes vk {
        0% {
            margin-left: 200px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    
    .telegram {
        width: 80px;
        height: 80px;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.8);
    }
    
    .telegram:hover {
        box-shadow: 0px 0px 9px rgba(56, 118, 191, 0.8);
    }
    
    @keyframes telegram {
        0% {
            margin-left: 200px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    
    @-webkit-keyframes telegram {
        0% {
            margin-left: 200px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    
    .whatsapp {
        width: 80px;
        height: 80px;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.8);
    }
    
    .whatsapp:hover {
        box-shadow: 0px 0px 9px rgba(56, 118, 191, 0.8);
    }

    @keyframes whatsapp {
        0% {
            margin-left: 200px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    
    @-webkit-keyframes whatsapp {
        0% {
            margin-left: 200px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    
    .social-icon {
        margin-top: 20px;
        margin-left: 200px;
        opacity: 0;
    }
    
    
    
    
    footer {
        height: 42px;
    }
    
    .copyright {
        margin-top: 0;
        font-size: 16px;
        padding-top: 10px;
    }
    
    .footer-police {
        margin-top: 8px;
    }
    
    .police-link {
        font-size: 16px;
    }

    
    
    
    .thin {
        margin-left: 70px;
        margin-top: 40px;
        font-size: 17px;
    }
    
    .bold {
        margin: -130px auto;
        font-size: 19px;
    }
    
    .small-bold {
        margin-top: 40px;
        margin-left: 70px;
        width: 800px;
        font-size: 17px;
    }
    
    .thin-par {
        margin-left: 70px;
        margin-top: 10px;
        width: 800px;
        font-size: 17px;
    }    
}

@media ( max-width: 992px ) {
    
    .navbar {
        height: 38px;
    }
    
    .nav-logo {
        margin-top: 2px;
        margin-left: 40px;
        height: 26px;
    }
    
    .nav-link {
        margin-left: 16px !important;
        font-size: 14px;
    }
    
    .navbar-nav {
        margin-left: 40px;
    }

    /* .hamburger {
        display: none;
    } */
    
    .header {
        height: 600px;
    }
    
    .img-wrapper {
        height: 600px;
        background-size: 100% 600px !important;
    }
    
    .overlay {
        height: 600px;
        background-size: 100% 600px !important;
    }
    
    .txt-big {
        height: 200px;
        margin-top: 100px;
    }
    
    h1 {
        font-size: 44px;
        top: 230px;
        left: 500px;
        width: 800px;
    }
    
    .txt-offer {
        font-size: 16px;
    }
    
    #offer1 {
        top: 350px;
    }
    
    @keyframes offer1 {
        0% {
          margin-left: -500px;
        }
        100% {
            margin-left: 146px;
        }
    }
    
    @-webkit-keyframes offer1 {
        0% {
            margin-left: -500px;
          }
          100% {
              margin-left: 146px;
          }  
    }
    
    #offer2 {
        top: 375px;
    }
    
    @keyframes offer2 {
        0% {
          margin-left: -500px;
        }
        100% {
            margin-left: 146px;
        }
    }
    
    @-webkit-keyframes offer2 {
        0% {
            margin-left: -500px;
          }
          100% {
              margin-left: 146px;
          }  
    }
    
    #offer3 {
        top: 400px;
    }
    
    @keyframes offer3 {
        0% {
          margin-left: -500px;
        }
        100% {
            margin-left: 146px;
        }
    }
    
    @-webkit-keyframes offer3 {
        0% {
            margin-left: -500px;
          }
          100% {
              margin-left: 146px;
          }  
    }
    
    #offer4 {
        top: 425px;
    }
    
    @keyframes offer4 {
        0% {
          margin-left: -500px;
        }
        100% {
            margin-left: 146px;
        }
    }
    
    @-webkit-keyframes offer4 {
        0% {
            margin-left: -500px;
          }
          100% {
              margin-left: 146px;
          }  
    }
    
    #offer5 {
        top: 450px;
    }
    
    @keyframes offer5 {
        0% {
          margin-left: -500px;
        }
        100% {
            margin-left: 146px;
        }
    }
    
    @-webkit-keyframes offer5 {
        0% {
            margin-left: -500px;
          }
          100% {
              margin-left: 146px;
          }  
    }
    
    .contact-link {
        margin-top: 70px;
        margin-left: 700px;
    }
    
    .f-btn {
        margin: 10px 20px;
        font-size: 18px;
        transition: .5s;
    }
    
    .f-btn:hover {
        background-position: 0 0;
    }
    
    .btn-contact {
        -webkit-animation: btn-con 7s forwards;
                animation: btn-con 7s forwards;
    }
    
    @keyframes btn-con {
        from {
            opacity: 0;
        }
    }
    
    @-webkit-keyframes btn-con {
        from {
            opacity: 0;
        }
    }
    
    .ideas {
        font-size: 60px;
        top: 520px;
        transform: translateY(-50%);
        left: 350px;
        width: 630px;
    }
    
    @keyframes ideas {
        from { width: 0; }
    }
    
    @-webkit-keyframes ideas {
        from { width: 0; }
    }
    
    
    
    
    .about {
        margin: 8px 0;
        padding: 8px;
    }
    
    .header-section {
        font-size: 44px;
        margin: 35px auto;
    }
    
    .about img {
        height: 300px !important;
        width: 300px !important;
    }
    
    @keyframes port {
        0% {
            border-radius: 0%;
            border-style: solid;
            border-width: 0px;
        }
        75% {
            border-radius: 50%;
            border-width: 0px;
        }
        100% {
            border-width: 4px;
        }
    }
    
    @-webkit-keyframes port {
        0% {
            border-radius: 0%;
            border-style: solid;
            border-width: 0px;
        }
        75% {
            border-radius: 50%;
            border-width: 0px;
        }
        100% {
            border-width: 5px;
        }
    }
    
    .about span {
        font-size: 14px;
        left: 30px;
    }
    
    .about .desc {
        margin-left: 10px;
        padding: 30px 30px 30px 30px;
        border-left:3px solid #192655;
        width: 620px;
        height: 320px;
    }    
    
    @keyframes about-desc {
        from {
            margin-left: 110%;
            opacity: 0;
        }
    }
    
    @-webkit-keyframes about-desc {
        from {
            margin-left: 110%;
            opacity: 0;
        }
    }
    
    .about .desc h3 {
        font-size: 32px;
    }
    
    .about .desc p {
        line-height: 1.7;
        font-size: 14px;
    }
    
    
    
    
    .serv {
        position: static;
        margin-top: 16px;
    }
    
    .info-section {
        margin: 16px auto;
        width: 920px;
        padding: 45px 0 45px 18px;
        box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.8);
    }
    
    .info-header-srv {
        width: 100%;
        height: 46px;
    }
    
    .info-header-tab-srv {
        font-size: 19px;
    }
    
    .info-header-tab-srv:after {
        height: 2px;
        margin-top: 3px;
    }
    
    .info-header-tab-active-srv:after {
        height: 2px;
        margin-top: 3px;
    }
    
    .info-tabcontent-srv {
        padding-top: 40px;
    }
    
    .description-text-srv {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1;
        padding-right: 30px;
        padding-left: 10px;
        width: 900px;
    }
    
    .blink {
        font-size: 16px;
    }
    
    .blink1 {
        font-size: 16px;
    }
    
    .price {
        font-size: 16px;
    }
    
    
    
    
    .portfolio {
        margin: 26px 0;
    }
    
    .portfolio img {
         height: 167px;
         width: 250px;
         margin-left: 14px;
    }
    
    /* .portfolio img:hover {
        transform: scale(1.2);
    }
     */
    .portfolio img:focus {
        transform: scale(1.2);
    }
    
    
    #slider {
        margin-left: 0;
        margin-top: -40px;
    }
    
    .slide {
        margin-left: 70px;
        margin-top: 25px;
        height: 550px;
        width: 700px;
    }
    
    .slide img {
        height: 100%;
        width: 100%;
    }
    



    .rem-section p {
        font-size: 14px;
    }
    
    .txt-rem {
        font-size: 14px;
    }


    
    
    .benefit-section {
        height: 1370px;
        margin: 10px auto;
        padding: 20px 0 50px 20px;
    }
    
    .benefit-txt {
        width: 300px;
        font-size: 14px;
        padding: 8px;
    }
    
    .benefit-txt-left {
        border-width: 4px;
        margin-left: 130px;
    }
    
    .benefit-txt-right {
        border-width: 5px;
        margin-left: 490px;
    }
    
    .p-txt {
        padding-top: 14px;
    }
    
    


    .skills-section {
        width: 590px;
        padding: 0 10px;
    }
    
    .btn-skills {
        margin: 0 auto;
        height: 34px;
        width: 570px;
        font-size: 15px;
    }
    
    .div-class{
        padding: 8px;
        font-size: 14px;
        width: 550px;
    }
    
    
    
    
    
    .email {
        width: 580px;
        height: 299px;
        box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.8);
        margin-left: 20px;
        margin-bottom: 50px;
    }
    
    .sender {
        width: 300px;
        height: 229px;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    
    .letter {
        width: 224px;
        height: 299px;
    }
    
    .frm-sender {
        margin: 30px auto;
    }
    
    .label-frm {
        font-size: 15px;
    }
    
    .input-frm {
        font-size: 15px;
        width: 240px;
    }
    
    .vk {
        width: 70px;
        height: 70px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
    }
    
    .vk:hover {
        box-shadow: 0px 0px 8px rgba(56, 118, 191, 0.8);
    }
    
    @keyframes vk {
        0% {
            margin-left: 150px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    
    @-webkit-keyframes vk {
        0% {
            margin-left: 150px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    
    .telegram {
        width: 70px;
        height: 70px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
    }
    
    .telegram:hover {
        box-shadow: 0px 0px 8px rgba(56, 118, 191, 0.8);
    }
    
    @keyframes telegram {
        0% {
            margin-left: 150px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    
    @-webkit-keyframes telegram {
        0% {
            margin-left: 150px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    
    .whatsapp {
        width: 70px;
        height: 70px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
    }
    
    .whatsapp:hover {
        box-shadow: 0px 0px 8px rgba(56, 118, 191, 0.8);
    }

    @keyframes whatsapp {
        0% {
            margin-left: 150px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    
    @-webkit-keyframes whatsapp {
        0% {
            margin-left: 150px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    
    .social-icon {
        margin-top: 20px;
        margin-left: 200px;
        opacity: 0;
    }
    
    
    
    
    footer {
        height: 38px;
    }
    
    .copyright {
        margin-top: 0;
        font-size: 15px;
        padding-top: 9px;
    }
    
    .footer-police {
        margin-top: 8px;
    }
    
    .police-link {
        font-size: 15px;
    }




    .thin {
        margin-left: 70px;
        margin-top: 40px;
        font-family: 'Montserrat 400';
        font-size: 16px;
    }
    
    .bold {
        margin: -100px auto;
        font-family: 'Montserrat 700';
        font-size: 18px;
    }
    
    .small-bold {
        margin-top: 50px;
        margin-left: 70px;
        width: 800px;
        font-family: 'Montserrat 700';
        font-size: 16px;
    }
    
    .thin-par {
        margin-left: 70px;
        margin-top: 10px;
        width: 800px;
        font-family: 'Montserrat 400';
        font-size: 16px;
    }
    
}

@media ( max-width: 768px ) {
    
    
    
    
    .thin {
        margin-left: 4.3em;
        margin-top: 2em;
        font-size: 15px;
    }
    
    .bold {
        margin-top: 2em;
        margin-left: 9.4em;
        font-size: 17px;
    }
    
    .small-bold {
        margin-top: 2em;
        margin-left: 4em;
        width: 35em;
        font-size: 16px;
    }
    
    .thin-par {
        margin-left: 4.2em;
        margin-top: 1em;
        width: 35em;
        font-size: 15px;
    }
}

@media ( max-width: 576px ) {
    



    .thin {
        margin-left: 2em;
        margin-top: 2em;
        font-size: 15px;
    }
    
    .bold {
        margin-top: 2em;
        margin-left: 14em;
        font-size: 16px;
    }
    
    .small-bold {
        margin-top: 2em;
        margin-left: 2em;
        width: 35em;
        font-size: 15px;
    }
    
    .thin-par {
        margin-left: 2em;
        margin-top: 1em;
        width: 35em;
        font-size: 14px;
    }
}

@media ( max-width: 326px ) {
    



    .thin {
        margin-left: 2em;
        margin-top: 2em;
        font-size: 15px;
    }
    
    .bold {
        margin-top: 2em;
        margin-left: 14em;
        font-size: 16px;
    }
    
    .small-bold {
        margin-top: 2em;
        margin-left: 2em;
        width: 35em;
        font-size: 15px;
    }
    
    .thin-par {
        margin-left: 2em;
        margin-top: 1em;
        width: 35em;
        font-size: 14px;
    }
}